<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MouseMoveToVirtualPadInput.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <MouseMoveToVirtualPadInput.Properties.Settings>
        <setting name="Enable" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="InputXPlusButton" serializeAs="String">
          <value>1</value>
        </setting>
        <setting name="InputXMinusButton" serializeAs="String">
          <value>2</value>
        </setting>
        <setting name="InputXAxis" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="InputYPlusButton" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="InputYMinusButton" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="InputYAxis" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="MoveStopTime" serializeAs="String">
          <value>0.01</value>
        </setting>
        <setting name="MoveDeadZone" serializeAs="String">
          <value>3</value>
        </setting>
      </MouseMoveToVirtualPadInput.Properties.Settings>
    </userSettings>
</configuration>